{% load static%}
<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Configuration Compte Samba</title>
		<link href="{% static 'Application/public/css/sb-admin-2.min.css' %}" rel="stylesheet">
	</head>

	<body name="{{csrf_token}}" class="bg-gradient-primary">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-10 col-lg-12 col-md-9">
					<div class="card o-hidden border-0 shadow-lg my-5"  style="margin-top: 12% !important;">
						<div class="card-body p-0">
							<div class="row">
								<div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
									<div class="col-lg-6">
										<div class="p-5">
											<div class="text-center">
												<h1 class="h4 text-gray-900 mb-2">Serveur Stockage ESTI</h1>
												<p class="mb-4"> <br> Configuration compte </p>
											</div>
											<form id="mail_space" class="user">
												<div class="form-group">
													<input type="email" style="marign: 10px" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Entrer votre email">
												</div>
												<a style="color: white" onclick="verifier($(this))" class="btn btn-primary btn-user btn-block">
													Envoyer
												</a>
											</form>
											<hr>
											<div class="text-center">
												<a class="small" href="#">Vous rencontrer des problemes ?</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script src="{% static 'Application/public/js/jquery.min.js' %}"></script>
			<script src="{% static 'Application/public/js/page.js' %}"></script>
			<script src="{% static 'Application/public/js/bootstrap.bundle.min.js' %}"></script>
			<script src="{% static 'Application/public/js/jquery.easing.min.js' %}"></script>
			<script src="{% static 'Application/public/js/sb-admin-2.min.js' %}"></script>


	</body>
</html>
